@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:16px;
    min-height: 100vh;
    background-color: hsl(0, 100%, 74%) ;
    background-image: url('images/bg-intro-mobile.png');
}

main {
    width:324px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
    padding: 40px 0;
}

.description, .subscription {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.subscription {
    gap:20px;
}

.description {
    text-align: center;
    color: white;
    width: 100%;
    gap:17px;
}

.description h1 {
    font-size: 30px;
    letter-spacing: 1.25px;
}

.description p {
    line-height: 22.5px;
    opacity: 0.75;
}

.free-trail-offer {
    color:white;
    -webkit-box-shadow: 0px 6px 4px 0px rgba(63,63,63,0.45); 
    box-shadow: 0px 6px 4px 0px rgba(63,63,63,0.45);
    background-color: hsl(248, 61%, 42%);
    padding: 15px 75px;
    letter-spacing: 0.5px;
    line-height: 25px;
    border-radius: 8.5px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    opacity: 0.9;
}

.form-container {
    background-color: white;
    border-radius: 8.5px;
    width: 100%;
    -webkit-box-shadow: 0px 6px 4px 0px rgba(63,63,63,0.45); 
    box-shadow: 0px 6px 4px 0px rgba(63,63,63,0.45);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 100%;
}


.input {
    width: 100%;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: right;
}

.input p {
    text-align: right;
    margin:0 0 10px 0;
    font-style: italic;
    font-size: 11.5px;
    width:100%;
    color:hsl(0, 63%, 54%);
}

.error-icon {
    position: absolute;
    right:15px;
    top:15px;
    width:20px;
    height:auto;
}

input {
    padding:15px 17.5px;
    width: 100%;
    border:hsla(0, 0%, 67%, 0.443) solid 2px;
    border-radius: 4px; 
}

input::placeholder {
    font-weight: 600;
}

input:focus {
    outline:hsl(248, 32%, 49%) solid 1px;
    border:hsl(248, 32%, 49%) solid 2px;
}

.input-error {
    outline:hsl(0, 63%, 54%)solid 1px;
    border:hsl(0, 63%, 54%) solid 2px;
}

.error-f, .error-f-i, .error-p, .error-p-i, .error-l, .error-l-i, .error-e, .error-e-i{
    visibility: hidden;
}

#submit {
    background-color:hsl(154, 59%, 51%);
    padding: 15px;
    font-size: 15.5px;
    color:white;
    text-transform: uppercase;
    width: 100%;
    border: none;
    font-weight: 600;
    border-radius: 4px;
    letter-spacing: 0.6px;
    -webkit-box-shadow: 0px 6px 4px 0px rgba(63,63,63,0.45); 
    box-shadow: 0px 6px 4px 0px rgba(63,63,63,0.45);
}

form p {
    text-align: center;
    font-size: 13px;
    width: 85%;
    margin-top:10px;
    line-height: 25px;
    color: hsl(246, 25%, 77%);
    padding:0 5px;
}

#terms-services {
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}


@media screen and (min-width:500px) {
    main {
        width:360px;
    }
}

@media screen and (min-width:1000px) {
    main {
        width:90%;
        flex-direction: row;
        justify-content: space-around;
    }

    .description, .subscription {
        width:40%;
    }

    .free-trail-offer {
        padding: 17.5px 10px;
    }

    .description {
        text-align: left;
        gap:20px;
    }

    .description h1 {
        font-size: 35px;
        line-height: 42.5px;
    }
}

@media screen and (min-width:1300px) {
    main {
        width:90%;
        flex-direction: row;
        justify-content: space-around;
    }

    .description, .subscription {
        width:40%;
    }

    .description h1 {
        font-size: 40px;
    }

    .description p {
        font-size: 17px;
    }
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
